name: CI/CD for Node.js & Docker

on:
  push:
    branches: [ main ]

permissions:
      contents: write # To push changes or create releases
      pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-sample:${{ github.sha }} .

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to DockerHub
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-sample:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-sample:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-sample:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-sample:latest
